.swiper-pagination-bullet {
  background-color: #ffffff3e;
  width: 10px;
  height: 10px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ffffffdf;
  width: 10px;
  height: 10px;
  opacity: 0.7;
}
